@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5f8;
  --foreground: #171717;
  --block: #fbfcfd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-primary {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: .5;
}
.heading-secondary {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: .5;
}

.dev {
  border: 1px solid tomato;
}
