@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1d1dd;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dev {
  border: 1px solid tomato;
}
